.alert {
  display: block;
  border-style: solid;
  border-width: 2px;
  padding: vertical-rhythm( $lines: .5, $font-size: $base-font-size, $offset: 2px );
  margin-bottom: vertical-rhythm();
}

.alert--warning {
  border-color: scale_color( $yellow, $lightness: 50% );
  color: scale_color($yellow, $lightness: -35%);
  background-color: scale_color($yellow,$lightness: 85%);
}

.alert--error {
  border-color: scale_color( $red, $lightness: 70% );
  color: scale_color($red, $lightness: -25%);
  background-color: scale_color($red, $lightness: 85%);
}

.alert--success {
  border-color: scale_color( $green, $lightness: 70% );
  color: scale_color($green, $lightness: -25%);
  background-color: scale_color($green, $lightness: 85%);
}

.alert--info {
  border-color: scale_color( $blue, $lightness: 80% );
  color: scale_color($blue, $lightness: -25%);
  background-color: scale_color($blue, $lightness: 85%);
}