.pagination {
  display: block;
  text-align: center;
  padding: vertical-rhythm(.25) 0;

  .pagination__item {
    display: inline-block;
    margin-right: -4px;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .pagination__item--current,
  a {
    padding: vertical-rhythm(.25) .5em;

    @media ( max-width: $small-screen ) {
      padding: vertical-rhythm(.5) 1.25em;
    }
  }

}

.pagination--left {
  text-align: left;
}

.pagination--right {
  text-align: right;
}

.pagination--pager {
  overflow: hidden;

  .pagination__item {
    float: left;
    min-width:10em;

    & + .pagination__item {
      float: right;
    }

  }

}

.pagination--unstyled-list {
  @extend %unstyled-lists;
}