@mixin alert($type) {
  padding: 1em !important;

  @if $type == notice {
    background-color: scale-color($blue, $lightness: 80%);
    border: 1px solid $blue;
    color: $blue;
  }

  @if $type == error {
    background-color: scale-color($red, $lightness: 80%);
    border: 1px solid $red;
    color: $red;
  }

  @if $type == success {
    background-color: scale-color($green, $lightness: 80%);
    border: 1px solid $green;
    color: $green;
  }

  @if $type == warning {
    background-color: scale-color($yellow, $lightness: 80%);
    border: 1px solid $yellow;
    color: $yellow;
  }
}
