@mixin alert($border: false, $color: false) {
  @if $color {
    background-color: scale-color($color, $lightness: 80%);
    border-color: $color;
    color: $color;
  }
  @if $border {
    border-width: $border;
    border-style: solid;
    padding: rhythm($offset: $border) 1em !important;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
