@mixin box-arrow($side: top, $color: $blue, $width: $base-font-size) {
  position: relative;
  padding: vertical-rhythm(.5) 1em;
  margin-bottom: vertical-rhythm();

  &:after {
    border: $width solid transparent;
    content: '';
    display: block;
    position: absolute;
    @if $side == top or $side == bottom {
      left: 50%;
      margin-left: -$width;
    } @else if $side == top-left or $side == bottom-left {
      left: $width;
    } @else if $side == top-right or $side == bottom-right {
      right: $width;
    } @else if $side == right or $side == left {
      top: 50%;
      margin-top: -$width;
    }
    @if $side == top or $side == top-left or $side == top-right {
      border-bottom-color: $color;
      top: -$width * 2;
    } @else if $side == bottom or $side == bottom-left or $side == bottom-right {
      bottom: -$width * 2;
      border-top-color: $color;
    } @else if $side == left {
      border-right-color: $color;
      left: -$width * 2;
    } @else if $side == right {
      border-left-color: $color;
      right: -$width * 2;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}