%button-dropdown {
  display: inline-block;
  position: relative;
}

%button-dropdown-content {
  position: absolute;
  z-index: 999;
}

@mixin button-dropdown-content($width: false, $active: false) {
  @if $active {
    left: 0;
  } @else {
    left: -9999px;
  }
  @if $width {
    min-width: $width;
  }
}
