.button {
  display: inline-block;
  background:$gray;
  border:none;
  padding: vertical-rhythm(.5) 1em;
  font-weight: bold;
  text-decoration: none;
  color:$black;
  text-shadow: 0px 1px 0px $light-gray; // ie 8 fallback
  text-shadow: 0px 1px 0px rgba(255,255,255,.3);
  outline: none;
  &:link,
  &:visited {
    text-decoration: none;
    color:$black;
  }
  &:hover,
  &:focus,
  &:active {
    color:$white;
    text-shadow: 0px -1px 0px $black; // ie 8 fallback
    text-shadow: 0px -1px 0px rgba(0,0,0,.3);
  }
  &:hover,
  &:focus {
    background:$green;
  }
  &:active {
    background:$red;
  }
}

.button--primary {
  background:$blue;
  color:$white;
  text-shadow: 0px -1px 0px $light-gray; // ie 8 fallback
  text-shadow: 0px -1px 0px rgba(0,0,0,.3);
  &:link,
  &:visited {
    color:$white;
  }
}

.button--small {
  padding: 0 .75em;
  @include font-size( $small-font-size );
}

.button--large {
  padding: vertical-rhythm( 1, $large-font-size ) 1.5em;
  @include font-size( $large-font-size );
}