// Required button styles
//
// additional styling for height, line-height,
// padding, font-size, text-shadow and border-radius maybe required
// and passed through as content for flexibility;
@mixin button($foreground: #333, $background: #ccc, $link: false) {
  -webkit-appearance: none;
  -webkit-user-drag: none;
  background-color: $background;
  background-image: none;
  border-image: none;
  border: 0;
  color: $foreground;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  height: $btn-height;
  line-height: $btn-height;
  margin: $btn-margin 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background 50ms ease-out, color 50ms ease-out, box-shadow 50ms ease-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @content;

  @if $link {
    &:link,
    &:visited {
      color: $foreground;
    }
  }

  &:hover,
  &:focus {
    background-color: darken($background, 5%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, .2));
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    color: scale-color($foreground, $lightness: 30%);
  }

  &:active {
    background-color: $background;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, .1));
    box-shadow: inset 0 0 2px rgba(0, 0, 0, .5);
    color: $foreground;
  }
}
