%column {
  orphans: 2;
  widows: 2;
}

@mixin column($count: 2, $gap: $column-gap, $rule: false) {
  column-count: $count;
  column-gap: em($column-gap, $base-font-size);
  @if $rule {
    column-rule: 1px solid $black;
  }
}
