%column {
  orphans: 2;
  widows: 2;
}

@mixin column($count: false, $gap: false, $rule: false) {
  @if $count {
    column-count: $count;
  }
  @if $gap {
    column-gap: em($gap, $base-font-size);
  }
  @if $rule {
    column-rule: 1px solid $black;
  }
}
