%form-control {
  transition: border 500ms ease, background 500ms ease, box-shadow 500ms ease;
}

@mixin form-control($size: normal, $textarea: false) {
  @if $size == xlarge {
    @include font-size($large-font-size, $base-font-size);
    padding: em(6);
    @if $textarea {
      min-height: rhythm(10, $large-font-size);
    } @else {
      height: rhythm(2, $large-font-size);
    }
  } @else if $size == large {
    @include font-size($large-font-size, $base-font-size);
    padding: em(3);
    @if $textarea {
      min-height: rhythm(8, $large-font-size);
    } @else {
      height: rhythm(1.5, $large-font-size);
    }
  } @else {
    @include font-size($base-font-size, $base-font-size);
    padding: em(1) em(3);
    @if $textarea {
      min-height: rhythm(5);
    } @else {
      height: rhythm();
    }
  }

  &:focus {
    background-color: scale-color($blue, $lightness: 97%);
    border-color: scale-color($blue, $lightness: 50%);
    box-shadow: 0 0 5px rgba($blue, .60);
  }
}


%form-control-addon {
  position: relative;

  span,
  input {
    display: block;
  }

  span {
    bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
    z-index: 0;
  }

  input {
    position: relative;
    z-index: 1;
  }
}

// prefix or append an additional element to the control
@mixin form-control-addon($size: normal, $prefix: true ) {
  @if $prefix {
    padding-left: 48px;
  } @else {
    padding-right: 48px;
  }
  span {
    background: $light-gray;
    @if $size == large or $size == xlarge {
      @include font-size($large-font-size, $base-font-size, 2);
    } @else {
      @include font-size($base-font-size, $base-font-size, 1);
    }
    @if $prefix {
      left: 0;
    } @else {
      right: 0;
    }
  }
}
