// form section contains many groups of controls
@mixin form--section($space: rhythm()) {
  margin-bottom: $space;
  @content;
}

// form group contains the label and form control
@mixin form--group($space: rhythm()) {
  margin-bottom: $space;
  @content;
}

// form control is the control itself
@mixin form--control($size: normal, $textarea: false, $width: 100%) {
  width: $width;

  @if $size == large {
    @include font-size($large-font-size, $base-font-size);
    @if $textarea {
      min-height: rhythm(8, $large-font-size);
    } @else {
      height: rhythm(2, $large-font-size);
    }
  } @else if $size == small {
    @include font-size($small-font-size, $base-font-size);
    @if $textarea {
      min-height: rhythm(3, $small-font-size);
    } @else {
      height: rhythm(1, $small-font-size);
    }
  } @else {
    @include font-size($base-font-size, $base-font-size);
    @if $textarea {
      height: rhythm(5, $base-font-size);
    } @else {
      height: rhythm(1.5, $base-font-size);
    }
  }

  @content;
}

@mixin form--control-addon($content, $prefix: true, $size: normal) {
  position: relative;

  input {
    display: block;
    position: relative;
    z-index: 999;
  }

  &:before,
  &:after {
    @if $size == large {
      @include font-size($large-font-size, $base-font-size, 2);
    } @else if $size == small {
      @include font-size($small-font-size, $base-font-size, 1);
    } @else {
      @include font-size($base-font-size, $base-font-size, 1.5);
    }
    background: $light-gray;
    bottom: 0;
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
    z-index: 0;
  }

  @if $prefix {
    padding-left: 48px;

    &:before {
      content: '#{$content}';
      left: 2px;
    }
  } @else {
    padding-right: 48px;

    &:after {
      content: '#{$content}';
      right: 2px;
    }
  }
}
