// form section contains many groups of controls
@mixin form--section($space: 1em) {
  margin-bottom: $space;
  @content;
}

// form group contains the label and form control
@mixin form--group($space: .5em) {
  margin-bottom: $space;
  @content;
}

// form control is the control itself
@mixin form--control($size: normal, $type: input, $width: 100%) {
  width: $width;
  padding-left: .25em;
  padding-right: .25em;

  @if $type == input {
    @if $size == large {
      font-size: 1.25em;
      line-height: 1.25;
      height: 1.5em;
    } @else if $size == small {
      font-size: .75em;
      line-height: 1.2;
      height: 1.75em;
    } @else {
      // just inherit the styles from our base styles
      font-size: inherit;
      line-height: inherit;
      height: inherit;
    }
  }

  // wont work until we do special things in the base styles
  @if $type == select {
    @if $size == large {
      font-size: 1.5em;
      line-height: 1.5;
      height: 1.5em;
    } @else if $size == small {
      font-size: .75em;
      line-height: 1;
      height: 1.5em;
    } @else {
      font-size: inherit;
      line-height: inherit;
      height: inherit;
    }
  }

  @if $type == textarea {
    @if $size == large {
      font-size: 1.25em;
      line-height: 1.25;
      min-height: 300px;
    } @else if $size == small {
      font-size: .75em;
      line-height: 1.2;
      min-height: 100px;
    } @else {
      font-size: inherit;
      line-height: inherit;
      min-height: inherit;
    }
  }

  @content;
}

@mixin form--control-addon($content, $prefix: true, $size: normal) {
  position: relative;

  &:before,
  &:after {
    background: #ccc;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 51px;
    z-index: 999;
  }

  @if $prefix {
    padding-left: 50px;

    &:before {
      content: '#{$content}';
      left: 0;
      @if $size == large {
        line-height: 2.2;
      } @else if $size == small {
        line-height: 1.5;
      } @else {
        line-height: 1.7;
      }
    }
  } @else {
    padding-right: 50px;

    &:after {
      content: '#{$content}';
      right: 0;
      @if $size == large {
        line-height: 2.2;
      } @else if $size == small {
        line-height: 1.5;
      } @else {
        line-height: 1.7;
      }
    }
  }
}
