%grid-col {
  float: left;
  min-height: 1px;
  position: relative;
}

@mixin grid($width: $site-width) {
  margin-left: auto;
  margin-left: auto;
  width: 95%;
  @media screen and (min-width: $small-screen-min) {
    max-width: $width;
  }
}

@mixin grid-row() {
  @extend %clearfix;
}

// $gutter: ($side, $size)
@mixin grid-col($span: false, $columns: false, $gutter: false) {
  @if $gutter {
    @each $side, $size in ($gutter) {
      padding-#{$side}: $size;
    }
  }
  @if $span {
    @if $span > $columns {
      @warn 'The column span value cannot be greater then the allowable number of columns in the grid.';
    } @else {
      width: (100% / $columns) * $span;
    }
  }
}

@mixin grid-col-order($direction, $span, $columns: $mobile-columns) {
  @if $direction != left and $direction != right {
    @warn 'Only value accepted for direction is left or right.';
  } @else {
    #{$direction}: (100% / $columns) * $span;
  }
}

@mixin grid-col-offset($direction, $span, $columns: $mobile-columns) {
  @if $direction != left and $direction != right {
    @warn 'Only value accepted for direction is left or right.';
  } @else {
    margin-#{$direction}: (100% / $columns) * $span;
  }
}
