%icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon($font: false, $content: false) {
  @if $content {
    &:before {
      content: '#{$content}';
    }
  }
  @if $font {
    font-family: $font;
  }
}

@mixin icon-style($color: false, $size: false, $valign: false) {
  @if $color {
    color: $color;
  }
  @if $size {
    font-size: em($size);
    line-height: line-height(1, $size);
    @if $valign {
      vertical-align: $valign;
    }
  }
}