%label {
  display: inline-block;
  vertical-align: middle;
}

@mixin label($size: false, $lines: false, $colors: false) {
  @if $colors {
    @each $property, $color in ($colors) {
      @if $property == background-color or $property == color {
        #{$property}: $color;
      } @else {
        @warn 'Assuming properties to be background-color or color';
      }
    }
  }
  @if $size and $lines {
    font-size: em($size);
    line-height: line-height($lines, $size);
    padding-left: em($size / 2);
    padding-right: em($size / 2);
  }
}
