%label {
  display: inline-block;
  letter-spacing: .05em;
  padding: 0 .5em;
  vertical-align: middle;
}

@mixin label($size: normal, $background: $light-gray, $foreground: $dark-gray) {
  background: $background;
  color: $foreground;
  @if $size == xlarge {
    font-size: em($large-font-size, $base-font-size);
  } @else if $size == large {
    font-size: 1em;
  } @else {
    font-size: em($small-font-size, $base-font-size);
  }
}
