%media {
  margin-bottom: rhythm();
  overflow: auto;
}

%media-element {
  line-height: 0;
}

%media-content {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

@mixin media-element($align: left, $width: 150px) {
  @if $align != left and $align != right and $align != none {
    @warn 'Only possible values are left, right, or none';
  }
  float: $align;
  @if $align == left {
    margin-right: em($base-font-size);
  }
  @if($align == right) {
    margin-left: em($base-font-size);
  }
  @if($align == none) {
    margin-left: auto;
    margin-right: auto;
  }
  width: $width;
}
