@mixin media() {
  margin-bottom: 1em;
  overflow: auto;
  @content
}

@mixin media--element($align: left) {
  @if $align != left and $align != right and $align != none {
    @warn 'Only possible values are left, right, or none';
  }
  float: $align;
  line-height: 0;
  @if $align == left {
    margin-right: 1em;
  }
  @if($align == right) {
    margin-left: 1em;
  }
  @content;
}

@mixin media--content() {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  @content;
}
