.menu__item,
.menu__item a {
  display: block;
}

.menu {
  display: table;
  width: auto;
  .menu__item {
    float: left;
    @media ( max-width: $small-screen ) {
      width: inherit;
      float: none;
    }
  }

  @media ( max-width: $small-screen ) {
      display: block;
      width: 100%;
    }
}

.menu--centered {
  width: auto;
  margin: 0 auto;
}

.menu--right {
  width: auto;
  margin-left: auto;
}

.menu--justified {
  width:100%;
  .menu__item {
    display: table-cell;
    float: none;
    width: 1%;
    vertical-align: middle;
    text-align: center;
    @media ( max-width: $small-screen ) {
      display: block;
      width: inherit;
    }
  }
}

.menu--stacked {
  .menu__item {
    display: block;
    float: none;
  }
}

.menu--unstyled-list {
  @extend %unstyled-list;
}