@mixin menu($align: left) {
  @extend %clearfix;
  @if $align == center or $align == right or $align == justified {
    display: table;
  }
  @if $align == center  {
    margin-left: auto;
    margin-right: auto;
  }
  @if $align == right  {
    margin-left: auto;
  }
  @if $align == justified  {
    width: 100%;
  }
}

@mixin menu-item($align: false, $num: 0) {
  position: relative;
  @if $align == false {
    display: block;
    float: left;
  } @else if $align == justified {
    display: table-cell;
    text-align: center;
    float: none;
    @if $num > 0 {
      width: (100% / $num);
    }
  } @else if $align == stacked {
    display: block;
  }
}
