@mixin menu($mode: left) {
  @if $mode == centered or $mode == right or $mode == justified {
    display: table;
  }
  @if $mode == centered  {
    margin-left: auto;
    margin-right: auto;
  }
  @if $mode == right  {
    margin-left: auto;
  }
  @if $mode == justified  {
    width: 100%;
  }
  @content;
}

@mixin menu--item($mode: false, $num: 0) {
  position: relative;
  @if $mode == false {
    display: block;
    float: left;
  } @else if $mode == justified {
    display: table-cell;
    text-align: center;
    float: none;
    @if $num > 0 {
      width: (100% / $num);
    }
  } @else if $mode == stacked {
    display: block;
  }
  @content;
}
