%modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
}

%modal-content {
  bottom: 0;
  height: 90%;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
}

%modal-close {
  position: absolute;
}

@mixin modal($background: false, $active: false) {
  @if $background {
    background-color: $background
  }
  @if $active {
    display: block;
  }
}

@mixin modal-content($padding: false, $background: false, $align: false, $size: false) {
  @if $padding {
    padding: em($padding);
  }
  @if $background {
    background-color: $background;
    box-shadow: 0 0 40px $black;
  }
  @if $align {
    @if $align == right {
      left: auto;
      right: em($base-line-height);
    } @else if($align == left) {
      left: em($base-line-height);
      right: auto;
    } @else if($align == top) {
      bottom: auto;
      top: em($base-line-height);
    } @else {
      bottom: em($base-line-height);
      top: auto;
    }
  }
  @if $size {
    width: $size;
    height: $size;
  }
}

@mixin modal-close($offset) {
  top: $offset;
  right: $offset;
}
