$off-canvas-menu-width: 75%;

%off-canvas {
  overflow-x: hidden;
}

%off-canvas-menu {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 9999;
}

%off-canvas-transition {
  transition-duration: .25s;
  transition-property: left, right;
  transition-timing-function: ease-in-out;
}

@mixin off-canvas($el, $side: left, $active: false) {
  @if $el == menu {
    @if $side == left or $side == right {
      @if $active {
        #{$side}: 0
      } @else {
        #{$side}: -$off-canvas-menu-width
      }
    } @else {
      @warn 'Assuming side is either left or right';
    }
    width: $off-canvas-menu-width;
  }
  @if $el == content {
    @if $side == left or $side == right {
      @if $active {
        position: fixed;
        top: 0;
        width: 100%;
        #{$side}: $off-canvas-menu-width;
      } @else {
        #{$side}: 0;
      }
    }
  }
}