@mixin pagination($align: center) {
  display: block;
  text-align: $align;
  @content;
}

@mixin pagination--item() {
  display: inline-block;
  margin-right: -(4 / 16) * 1em;
  @content;
}


@mixin pager() {
  overflow: hidden;
  @content;
}

@mixin pager--item($side: left) {
  position: relative;
  text-align: center;

  @if $side == left {
    float: left;
  }

  @if $side == right {
    float: right;
  }

  @if $side == none {
    float: none;
  }

  @content;
}
