%pagination {
  display: block;
  font-size: 0;
}

%pagination-item {
  display: inline-block;
  font-size: $base-font-size;
}

@mixin pagination($align: false) {
  @if $align {
    text-align: $align;
  }
}

@mixin pagination-link-size($size: false, $lines: false) {
  @if $size and $lines {
    font-size: em($size);
    line-height: line-height($lines, $size);
    height: rhythm($lines, $size);
    padding-left: em($size / 2);
    padding-right: em($size / 2);
  }
}