@mixin sub-menu($active: false, $position: true, $flyout: false) {
  @if $position {
    position: absolute;
  } @else {
    position: static;
  }
  @if not $active {
    left: -9999px;
  } @else if $active and not $flyout {
    left: 0;
  } @else {
    top: 0;
    left: 100%;
  }
  z-index: 999;
  @content;
}

@mixin sub-menu--item() {
  display: block;
  width: inherit;
  position: relative;
  @content;
}
