// striped rows
// striped columns
// horizontal dividers / border
// vertical dividers / border
// bordered table
// hover rows
//
// http://csswizardry.com/demos/zebra-striping/

.tabular-data {
  width:100%;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding:vertical-rhythm(.5) pxtoem($base-font-size, $base-font-size);
    vertical-align: top;
  }

  thead {
    background:$dark-gray;
    th {
      color:$white;
      font-weight: bold;
      text-align: center;
    }
  }

  tbody {
    background:$white;
    tr {
      border-bottom:1px solid $dark-gray;
    }
  }

  caption,
  tfoot td {
    text-align: left;
    @include font-size($small-font-size, $base-font-size);
  }

}

.tabular-data--bordered {
  border:1px solid $dark-gray;

  thead th {
    border-left: 1px solid $light-gray;
  }

  tbody td,
  tfoot td {
    border-left: 1px solid $dark-gray;
  }

  thead th,
  tbody td {
    &:first-child {
      border-left:none;
    }
  }
}

.tabular-data--zebra-row {
  tbody tr:nth-child(odd) {
    background: scale-color($light-gray, $lightness:50%);
  }
}

.tabular-data--zebra-column {
  tbody td:nth-child(odd) {
    background: scale-color($light-gray, $lightness:50%);
  }
}