@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_placeholders\.scss}line{font-family:\000032}}
.grid__row:before, .grid__row:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_placeholders\.scss}line{font-family:\000037}}
.grid__row:after {
  clear: both;
}

/*
# Base

Styleguide 1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000037}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Set default font family.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000318}}
html {
  font-family: "HelveticaNeue", "Helvetica", Arial, sans-serif;
  /* 1 */
  font-size: 87.5%;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000329}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000333}}
.styleguide__elements {
  background-image: url(http://basehold.it/i/21/204/40/130);
  background-repeat: repeat;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000346}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000366}}
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000379}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\0000389}}
[hidden],
template {
  display: none;
}

/*
# Headings

Heading elements implement six levels of document headings, &lt;h1&gt; is the most important and &lt;h6&gt; is the least. A heading element briefly describes the topic of the section it introduces. Heading information may be used by user agents, for example, to construct a table of contents for a document automatically.

Markup: <h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<h5>Heading level 5</h5>
<h6>Heading level 6</h6>

Styleguide 1.0.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003109}}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003125}}
h1 {
  font-size: 2.61793em;
  line-height: 1.14594;
  margin-bottom: 0.57297em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003130}}
h2 {
  font-size: 2.06121em;
  line-height: 1.09159;
  margin-bottom: 0.72773em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003135}}
h3 {
  font-size: 1.618em;
  line-height: 1.39061;
  margin-bottom: 0.92707em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003140}}
h4 {
  font-size: 1.27393em;
  line-height: 1.17746;
  margin-bottom: 1.17746em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003145}}
h5 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003150}}
h6 {
  font-size: 0.78736em;
  line-height: 1.90511;
  margin-bottom: 1.90511em;
}

/*
# Address

The HTML &lt;address&gt; Element may be used by authors to supply contact information for its nearest &lt;article&gt; or &lt;body&gt; ancestor; in the latter case, it applies to the whole document.

Markup: <address>
  You can contact author at <a href="http://www.somedomain.com/contact">www.somedomain.com</a>.<br>
  If you see any bugs, please <a href="mailto:webmaster@somedomain.com">contact webmaster</a>.<br>
  You may also want to visit us:<br>
  Mozilla Foundation<br>
  1981 Landings Drive<br>
  Building K<br>
  Mountain View, CA 94043-0801<br>
  USA
</address>

Styleguide 1.0.2
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003175}}
address {
  margin: 1.5em 0;
  font-style: normal;
  color: #666666;
}

/*
# Paragraphs

The HTML &lt;p&gt; element (or HTML Paragraph Element) represents a paragraph of text. Paragraphs are block-level elements.

Markup: <p>This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text.</p>
<p>This is second paragraph of text. This is second paragraph of text. This is second paragraph of text. This is second paragraph of text.</p>

Styleguide 1.0.3
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003193}}
p,
pre,
figure {
  margin: 0 0 1.5em 0;
}

/*
# Horizontal Rule

In HTML5 the HTML &lt;hr&gt; element represents a thematic break between paragraph-level elements (for example, a change of scene in a story, or a shift of topic with a section). In previous versions of HTML, it represented a horizontal rule. It may still be displayed as a horizontal rule in visual browsers, but is now defined in semantic terms, rather than presentational terms.

Markup: <p>This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text. This is the first paragraph of text.</p>
<hr>
<p>This is second paragraph of text. This is second paragraph of text. This is second paragraph of text. This is second paragraph of text.</p>

Styleguide 1.0.4
*/
/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003215}}
hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #222222;
  margin: 0 0 1.42857em 0;
  padding: 0;
  clear: both;
}

/*
# Preformatted Text

The HTML &lt;pre&gt; Element (or HTML Preformatted Text) represents preformatted text. Text within this element is typically displayed in a non-proportional font exactly as it is laid out in the file. Whitespaces inside this element are displayed as typed.

Markup: <!-- Some example CSS code -->
<pre>
body {
  color:red;
}
</pre>
<pre><code class="language-pascal">var i: Integer;
begin
   i := 1;
end.</code></pre>

Styleguide 1.0.5
*/
/**
 * Contain overflow in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003249}}
pre {
  overflow: auto;
}

/*
# Blockquotes

The HTML &lt;blockquote&gt; Element (or HTML Block Quotation Element) indicates that the enclosed text is an extended quotation. Usually, this is rendered visually by indentation (see Notes for how to change it). A URL for the source of the quotation may be given using the cite attribute, while a text representation of the source can be given using the &lt;cite&gt; element.

Markup: <blockquote cite="http://developer.mozilla.org">
  <p>This is a quotation taken from the Mozilla Developer Center.</p>
</blockquote>
<blockquote>
  This is a quotation taken from the Mozilla Developer Center.
  <cite>Chris Woodley</cite>
</blockquote>

Styleguide 1.0.6
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003269}}
blockquote {
  margin: 0 2.61793em 1.5em 2.61793em;
  padding-left: 0.65448em;
  border-left: 4px solid #cccccc;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003274}}
blockquote > p {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003278}}
blockquote cite {
  display: block;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003281}}
blockquote cite:before {
  content: "- ";
}

/*
# Lists

The HTML unordered list element (&lt;ul&gt;) represents an unordered list of items, namely a collection of items that do not have a numerical ordering, and their order in the list is meaningless.

The HTML &lt;ol&gt; Element (or HTML Ordered List Element) represents an ordered list of items. Typically, ordered-list items are displayed with a preceding numbering, which can be of any form, like numerals, letters or Romans numerals or even simple bullets.

The HTML List item element (&lt;li&gt;) is used to represent a list item. It should be contained in an ordered list (&lt;ol&gt;), an unordered list (&lt;ul&gt;) or a menu (&lt;menu&gt;), where it represents a single entity in that list.

The HTML &lt;dl&gt; Element (or HTML Description List Element) encloses a list of pairs of terms and descriptions. Common uses for this element are to implement a glossary or to display metadata (a list of key-value pairs). The HTML &lt;dt&gt; element (or HTML Definition Term Element) identifies a term in a definition list. The HTML &lt;dd&gt; Element (or HTML Description Element) indicates the description of a term in a description list (&lt;dl&gt;) element.

Markup: <!-- Unordered List -->
<ul>
  <li>first item</li>
  <li>second item</li>
  <li>third item
    <ul>
      <li>sub list item</li>
      <li>sub list item</li>
      <li>sub list item</li>
    </ul>
  </li>
</ul>
<!-- Ordered List -->
<ol>
    <li>first item</li>
    <li>second item</li>
    <li>third item
    <ul>
      <li>sub list item</li>
      <li>sub list item</li>
      <li>sub list item</li>
    </ul>
  </li>
</ol>
<!-- Single term and description -->
<dl>
  <dt>Firefox</dt>
  <dd>A free, open source, cross-platform, graphical web browser
      developed by the Mozilla Corporation and hundreds of volunteers.</dd>
</dl>
<!-- Multiple terms, single description -->
<dl>
  <dt>Firefox</dt>
  <dt>Mozilla Firefox</dt>
  <dt>Fx</dt>
  <dd>A free, open source, cross-platform, graphical web browser
      developed by the Mozilla Corporation and hundreds of volunteers.</dd>
</dl>
<!-- Single term, multiple descriptions -->
<dl>
  <dt>Firefox</dt>
  <dd>A free, open source, cross-platform, graphical web browser
      developed by the Mozilla Corporation and hundreds of volunteers.</dd>
  <dd>The Red Panda also known as the Lesser Panda, Wah, Bear Cat or Firefox,
      is a mostly herbivorous mammal, slightly larger than a domestic cat
      (60 cm long).</dd>
</dl>

Styleguide 1.0.7
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003349}}
dl,
ul,
ol {
  margin: 0 0 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003355}}
ul,
ol {
  padding: 0 0 0 2.61793em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003360}}
dt {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003364}}
dd {
  margin: 0 0 0 2.61793em;
}

/*
# Figure & Figcaption

The HTML &lt;figure&gt; Element represents self-contained content, frequently with a caption (&lt;figcaption&gt;), and is typically referenced as a single unit. While it is related to the main flow, its position is independent of the main flow. Usually this is an image, an illustration, a diagram, a code snippet, or a schema that is referenced in the main text, but that can be moved to another page or to an appendix without affecting the main flow.

Markup: <!-- Just a figure -->
<figure>
  <img src="http://fpoimg.com/250x210" alt="An awesome picture">
</figure>
<!-- Figure with figcaption -->
<figure>
  <img src="http://fpoimg.com/250x210" alt="An awesome picture">  
  <figcaption>Caption for the awesome picture</figcaption>
</figure>

Styleguide 1.0.8
*/
/**
 * Address margin not present in IE 8/9 and Safari.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003390}}
figure {
  margin: 1.42857em;
  padding: 1.5em;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003398}}
figcaption {
  font-size: 0.78736em;
  line-height: 1.90511;
}

/*
# Standard Links

Your standard hyperlinks. Removed the gray background color from active links in IE 10 by setting background to transparent. However, you can specifiy a background color for each state using the mixin defined below:

Usage:
<pre>a {
  @include link-colors( $foreground: "blue" "green" "red", $background: "black" "gray" "white");
}</pre>

Markup: <a href="#" class="$modifierClass">Example</a>

:link     - The default state
:hover    - The mouseover state
:active   - The mouse down state
:visited  - Indaicates whether or not the hyperlink has been visited

Styleguide 1.0.9
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003422}}
a {
  background: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_mixins\.scss}line{font-family:\0000329}}
a:link, a:visited {
  color: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_mixins\.scss}line{font-family:\0000334}}
a:hover, a:focus {
  color: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_mixins\.scss}line{font-family:\0000339}}
a:active {
  color: red;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003430}}
a:active,
a:hover {
  outline: 0;
}

/*
# Emphasis and Strong

The HTML Strong Element (&lt;strong&gt;) gives text strong importance, and is typically displayed in bold.
The HTML &lt;em&gt; element (or HTML Emphasis Element) marks text that has stress emphasis.

Markup: <p>When doing x it is <strong>imperative</strong> to do y before proceeding.</p>
<p>In HTML 5, what was previously called <em>block-level</em> content is now called <em>flow</em> content.</p>

Styleguide 1.1.0
*/
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 * Fix line height issue.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003452}}
b,
strong {
  font-weight: bold;
  line-height: 1em;
}

/*
# Small

The HTML Small Element (&lt;small&gt;) makes the text font size one size smaller (for example, from large to medium, or from small to x-small) down to the browser's minimum font size.  In HTML5, this element is repurposed to represent side-comments and small print, including copyright and legal text, independent of its styled presentation.

Markup: <p>This is the first sentence.  <small>This whole sentence is in small letters.</small></p>

Styleguide 1.1.1
*/
/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003472}}
small {
  font-size: 0.78736em;
  line-height: 1.90511;
}

/*
# Quote

The HTML &lt;q&gt; Element (or HTML Quote Element) indicates that the enclosed text is a short inline quotation. This element is intended for short quotations that don't require paragraph breaks; for long quotations use &lt;blockquote&gt; element.

Markup: <p>Everytime Kenny is killed, Stan will announce 
   <q cite="http://en.wikipedia.org/wiki/Kenny_McCormick#Cultural_impact">
     Oh my God, you/they killed Kenny!
   </q>.
</p>

Styleguide 1.1.2
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003490}}
q {
  quotes: "\201C" "\201D";
}

/*
# Definition

The HTML &lt;dfn&gt; element (or HTML Definition Element) represents the defining instance of a term.

Markup: <p><dfn id="def-internet">The Internet</dfn> is a global system of interconnected networks that use the Internet Protocol Suite (TCP/IP) to serve billions of users worldwide.</p>
<dl>
  <!-- Define "World-Wide Web" and reference definition for "the Internet" -->
  <dt>
    <dfn>
      <abbr title="World-Wide Web">WWW</abbr>
    </dfn>
  </dt>
  <dd>The World-Wide Web (WWW) is a system of interlinked hypertext documents accessed on <a href="#def-internet">the Internet</a>.</dd>
</dl>

Styleguide 1.1.3
*/
/**
 * Address styling not present in Safari and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003517}}
dfn {
  font-style: italic;
}

/*
# Abbreviations

The HTML &lt;abbr&gt; Element (or HTML Abbreviation Element) represents an abbreviation and optionally provides a full description for it. If present, the title attribute must contain this full description and nothing else.

Markup: <p>Tony Blair is the prime minister of the <abbr title="United Kingdom">UK</abbr></p>

Styleguide 1.1.4
*/
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003535}}
abbr {
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003539}}
abbr[title] {
  border-bottom: 1px dotted;
}

/*
# Code, Pre, Kbd, Samp

The HTML &lt;code&gt; Element represents a fragment of computer code. By default, it is displayed in the browser's default monospace font.

The HTML &lt;samp&gt; element is an element intended to identify sample output from a computer program. It is usually displayed in the browser's default monotype font (such as Lucida Console).

The HTML &lt;kbd&gt; Element (or HTML Keyboard Input Element) represents user input and produces an inline element displayed in the browser's default monotype font.

Markup: <p>Regular text. <code>This is code.</code> Regular text.</p>
<p>Regular text. <samp>This is sample text.</samp> Regular text.</p>
<p>Type the following in the Run dialog: <kbd>cmd</kbd><br />Then click the OK button.</p>

Styleguide 1.1.5
*/
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003563}}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003572}}
p code,
p kbd,
p samp {
  font-size: 90%;
  color: #ff4136;
  background: #ffeddd;
  padding: .1em .5em;
  border-radius: 4px;
  white-space: nowrap;
}

/*
# Subscript and Superscript

The HTML Subscript Element (&lt;sub&gt;) defines a span of text that should be displayed, for typographic reasons, lower, and often smaller, than the main span of text.
The HTML Superscript Element (&lt;sup&gt;) defines a span of text that should be displayed, for typographic reasons, higher, and often smaller, than the main span of text.

Markup: <p>The chemical formula of water is H<sub>2</sub>O</p>
<p>This text is <sup>superscripted</sup></p>

Styleguide 1.1.6
*/
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003600}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003608}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003612}}
sub {
  bottom: -0.25em;
}

/*
# Mark

The HTML &lt;mark&gt; Element represents highlighted text, i.e., a run of text marked for reference purpose, due to its relevance in a particular context. For example it can be used in a page showing search results to highlight every instance of the searched for word.

Markup: <p>The &lt;mark&gt; element is used to <mark>highlight</mark> text</p>

Styleguide 1.1.7
*/
/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003630}}
mark {
  background: #ffdc00;
  color: #222222;
}

/*
# Images

The HTML &lt;img&gt; Element (or HTML Image Element) represents an image of the document.

Markup: <img src="http://fpoimg.com/200x252" alt="" />
<a href="https://developer.mozilla.org/" target="_blank"><img src="http://fpoimg.com/200x150?text=Hyperlinked Image" alt="" /></a>

Styleguide 1.1.8
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003646}}
img,
svg {
  vertical-align: middle;
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003654}}
img {
  max-width: 100%;
  height: auto;
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  /* IE (non-standard property) */
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003668}}
svg:not(:root) {
  overflow: hidden;
}

/*
# Form Buttons

The HTML &lt;button&gt; Element represents a clickable button.

Markup: <button type="submit" >Submit</button>
<button type="reset" >Reset</button>
<button type="button" >Click me</button>
<input type="submit" value="Submit" />
<input type="reset" value="Reset" />

Styleguide 1.1.9
*/
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003698}}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003711}}
button {
  overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003715}}
button,
input[type="submit"],
input[type="reset"] {
  height: 2.25em;
  margin: 0.375em 0;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003728}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003740}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003751}}
button[disabled],
html input[disabled] {
  cursor: default;
  color: #999999;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003760}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
# Inputs & Labels

The HTML &lt;input&gt; element is used to create interactive controls for web-based forms.

The HTML &lt;label&gt; Element represents a caption for an item in a user interface. It can be associated with a control either by placing the control element inside the label element, or by using the for attribute. Such a control is called the labeled control of the label element.

Markup: <div><label>Text: <input type="text" name="fn" value=""></label></div>
<div><label for="search">Search: </label><input name="search" type="search" value=""></div>
<div><label>Tel: <input name="tel" type="tel" value=""> <small>Format: AB12 3CD</small></label></div>
<div><label for="url">URL: </label><input name="url" type="url" value=""></div>
<div><label>Email: <input name="email" type="email" value=""> <small>Format: name@host.com</small></label></div>
<div><label for="pwd">Password: </label><input name="pwd" type="password" value=""></div>
<div><label>Date: <input name="date" type="date" value=""></label></div>
<div><label for="t">Time: </label><input name="t" type="time" value=""></div>
<div><label>Number: <input name="num" type="number" value=""></label></div>
<div><label>Checkbox1: <input name="check[]" type="checkbox" value="yes"></label> <label>Checkbox2: <input name="check[]" type="checkbox" value="No"></label></div>
<div><label>Radio1: <input name="r1" type="radio" value="yes"></label> <label>Radio2: <input name="r1" type="radio" value="No"></label></div>
<div><label for="fl">File: </label><input name="fl" type="file"></div>

Styleguide 1.2.0
*/
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003794}}
input {
  line-height: 1.5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003798}}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
fieldset {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003817}}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="range"],
textarea {
  width: auto;
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003836}}
input[type="text"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
  padding: 0.33929em;
  margin: 0.345em 0;
  -webkit-box-shadow: inset 0 2px 5px rgba(204, 204, 204, 0.5);
  box-shadow: inset 0 2px 5px rgba(204, 204, 204, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003853}}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
  border: 1px solid #0074d9;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003859}}
input[type="file"] {
  border: none;
  display: block;
  width: 100%;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Remove excess padding in IE 8/9/10.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003869}}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  vertical-align: middle;
  margin-top: -4px;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003882}}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003890}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003898}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
# Textarea

The HTML &lt;textarea&gt; element represents a multi-line plain-text editing control.

Markup: <p>If you have any comments, please let us know: <textarea cols="80" rows="10" name="comments">You rock!</textarea></p>

Styleguide 1.2.1
*/
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003916}}
textarea {
  display: block;
  vertical-align: top;
  resize: vertical;
  overflow: auto;
  height: auto;
  min-height: 7.5em;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003926}}
textarea[rows] {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003930}}
textarea[cols] {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003934}}
textarea[contenteditable] {
  -webkit-appearance: none;
}

/*
# Select

The HTML select (&lt;select&gt;) element represents a control that presents a menu of options. The options within the menu are represented by &lt;option&gt; elements, which can be grouped by <optgroup> elements. Options can be pre-selected for the user.

In a Web form, the HTML &lt;optgroup&gt; element  creates a grouping of options within a &lt;select&gt; element.

Markup: <!-- The second value will be selected initially -->
<select name="select">
  <option value="value1">Value 1</option> 
  <option value="value2" selected>Value 2</option>
  <option value="value3">Value 3</option>
</select>
<!-- Select with optgroup -->
<select>
  <optgroup label="Group 1">
    <option>Option 1.1</option>
  </optgroup> 
  <optgroup label="Group 2">
    <option>Option 2.1</option>
    <option>Option 2.2</option>
  </optgroup>
  <optgroup label="Group 3" disabled>
    <option>Option 3.1</option>
    <option>Option 3.2</option>
    <option>Option 3.3</option>
  </optgroup>
</select>
<!-- Multiple Select -->
<select name="select" multiple>
  <option value="value1">Value 1</option> 
  <option value="value2" selected>Value 2</option>
  <option value="value3">Value 3</option>
</select>

Styleguide 1.2.2
*/
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003981}}
optgroup {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003985}}
select {
  height: 2.25em;
  padding: .25em;
  margin: 0.375em 0;
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003993}}
select:hover {
  background-color: whitesmoke;
  border-color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\00003998}}
select[multiple] {
  height: auto;
  padding: 0.71429em 0.71429em;
}

/*
# Fieldset and Legends

The HTML &lt;fieldset&gt; element is used to group several controls as well as labels (&lt;label&gt;) within a web form.

The HTML &lt;legend&gt; Element (or HTML Legend Field Element) represents a caption for the content of its parent &lt;fieldset&gt;.

Markup: <fieldset>
  <legend>Title</legend>
  <input type="radio" name="radio" id="radio"> <label for="radio">Click me</label>
</fieldset>
<fieldset>
  <legend>More Info</legend>
  <label for="info">Info</label>
  <input type="text" name="info" id="info">
</fieldset>

Styleguide 1.2.3
*/
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031027}}
fieldset {
  padding: 1.5em;
  margin: 0 0 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031030}}
fieldset > :last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031035}}
label,
legend {
  font-weight: bold;
  line-height: 1.425;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031041}}
label {
  display: inline-block;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031049}}
legend {
  display: block;
  width: 100%;
  border: 0;
  /* 1 */
  border-bottom: 2px solid #e5e5e5;
  padding: 0;
  /* 2 */
  font-size: 1.618em;
  line-height: 1.85414;
  margin-bottom: 0.83878em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031059}}
fieldset {
  padding: 0;
  margin: 0 0 1.5em 0;
  border: 0;
}

/*
# Table

The HTML Table Element (&lt;table&gt;) represents data in two dimensions or more.

The HTML &lt;caption&gt; Element (or HTML Table Caption Element) represents the title of a table. Though it is always the first descendant of a &lt;table&gt;, its styling, using CSS, may place it elsewhere, relative to the table.

Markup: <p>Table with thead, tfoot, tbody, and caption</p>
<table>
  <caption>Awesome caption (Table title)</caption>
  <thead>
    <tr>
      <th>Header content 1</th>
      <th>Header content 2</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>Footer content 1</td>
      <td>Footer content 2</td>
    </tr>
  </tfoot>
  <tbody>
    <tr>
      <td>Body content 1</td>
      <td>Body content 2</td>
    </tr>
  </tbody>
</table>

Styleguide 1.2.4
*/
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031102}}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 1.5em 0;
  line-height: 1.6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031110}}
td,
th {
  padding: 0.75em 1em;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031116}}
th {
  font-weight: bold;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031121}}
caption,
tfoot td {
  text-align: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031126}}
caption {
  font-size: 1.27393em;
  line-height: 1.17746;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/_base\.scss}line{font-family:\000031130}}
tfoot td {
  font-size: 0.78736em;
  line-height: 1.90511;
  padding: 1.00018em 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/modules\/_grid\.scss}line{font-family:\000031}}
.grid__col-1, .grid__col-2, .primary, .secondary, .offset-right, .offset-left {
  position: relative;
  float: left;
}

/*
# Grid

Styleguide 2
*/
/*
# Grid Mixin

This mixin defines the max width of the page and is used in context with setting column widths within the layout.

Usage:
<pre>.grid {
  @include grid( $site-width );
}</pre>

Markup: <div class="grid">.grid</div>

Styleguide 2.0.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\0000328}}
.grid {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\0000328}}
  .grid {
    max-width: 71.25em;
  }
}

/*
# Grid Row Mixin

This mixin defines rows within the layout. Its used to clear column floats.

Usage:
<pre>.grid__row {
  @include grid__row();
}</pre>

Markup: <div class="grid">
  <div class="grid__row">.grid__row</div>
</div>

Styleguide 2.0.2
*/
/*
# Grid Column Placeholder and Mixin

This mixin defines columns within a row. The placeholder is used to group common styles for all columns.

Usage:
<pre>.grid__col-1 {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
}
.grid__col-2 {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="grid__col-1">
      .grid__col-1
    </div>
    <div class="grid__col-2">
      .grid__col-2
    </div>
  </div>
</div>

Styleguide 2.0.3
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\0000383}}
.grid__col-1 {
  width: 25%;
  padding: 0 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\0000388}}
.grid__col-2 {
  width: 75%;
  padding: 0 0 0 10px;
}

/*
# Grid Column Push & Pulls

This mixin defines column positioning commonly used for source ordering content.

Usage:
<pre>.primary {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--push( $span: 3, $columns: $mobile-columns );
}
.secondary {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--pull( $span: 1, $columns: $mobile-columns );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="primary">
      .primary
    </div>
    <div class="secondary">
      .secondary
    </div>
  </div>
</div>

Styleguide 2.0.4
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\00003125}}
.primary {
  width: 25%;
  padding: 0 10px 0 0;
  left: 75%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\00003130}}
.secondary {
  width: 75%;
  padding: 0 0 0 10px;
  right: 25%;
}

/*
# Grid Column Offsets

This mixin defines column offsets using left and right margins.

Usage:
<pre>.offset-right {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--offset-right( $span: 1, $columns: $mobile-columns );
}
.offset-left {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--offset-left( $span: 1, $columns: $mobile-columns );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="offset-left">
      .offset-left
    </div>
    <div class="offset-right">
      .offset-right
    </div>
  </div>
</div>

Styleguide 2.0.5
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\00003169}}
.offset-right {
  width: 25%;
  padding: 0 10px 0 0;
  margin-right: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cwoodley\/Sites\/kss\/style-guide\/scss\/style\.scss}line{font-family:\00003174}}
.offset-left {
  width: 25%;
  padding: 0 0 0 10px;
  margin-left: 25%;
}
