<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/html5shiv.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    </script>
    <!--[if lte IE 8]>
        <script src="js/vendor/selectivizr.min.js"></script>
    <![endif]-->
    <!--[if lte IE 9]>
        <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body id="off-canvas" class="off-canvas off-canvas--right off-canvas--fixed-content">
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <nav class="off-canvas__menu menu-demo graybox">
        <h1 class="visuallyhidden">Main Nav</h1>
        <!-- Tip: Hide heading visually but readable to screen readers -->

        <a href="#">Close</a>

        <ul class="menu unstyled-list">
            <li class="menu__item"><a href="#">Menu Item One</a></li>
            <li class="menu__item"><a href="#">Menu Item Two</a></li>
            <li class="menu__item"><a href="#">Menu Item Three</a></li>
            <li class="menu__item"><a href="#">Menu Item Four</a></li>
            <li class="menu__item"><a href="#">Menu Item Five</a></li>
        </ul>
    </nav>


    <div class="off-canvas__content">

        <header class="graybox graybox--dark site-header">
            <div class="grid">

                <div class="grid__row show-on-small-device">
                    <div class="grid__col-12">
                        <a href="#off-canvas">Menu</a>
                    </div>
                </div>

                <div class="grid__row hide-from-small-device">
                    <div class="grid__col--3 graybox graybox--very-dark">
                        Logo &amp; Site Title
                    </div>
                    <div class="grid__col--9 graybox graybox--light">
                        <nav class="menu-demo graybox">
                            <h1 class="visuallyhidden">Main Nav</h1>
                            <!-- Tip: Hide heading visually but readable to screen readers -->

                            <ul class="menu unstyled-list">
                                <li class="menu__item"><a href="#">Menu Item One</a></li>
                                <li class="menu__item"><a href="#">Menu Item Two</a></li>
                                <li class="menu__item"><a href="#">Menu Item Three</a></li>
                                <li class="menu__item"><a href="#">Menu Item Four</a></li>
                                <li class="menu__item"><a href="#">Menu Item Five</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <main class="graybox graybox--gigantic graybox--light site-main">

            <div class="graybox graybox--medium graybox page-title">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid_col--12">
                            page title
                        </div>
                    </div>
                </div>
            </div>
            <!-- end .page-title -->

            <div class="grid page-content">
                <div class="grid__row">
                    <div class="grid__col--12">
                        <article>
                            article
                        </article>
                    </div>
                </div>
            </div>
            <!-- end .page-content -->

        </main>

        <footer class="graybox graybox--large graybox--dark site-footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__col--4 graybox graybox--large graybox--dark">col 1</div>
                    <div class="grid__col--4 graybox graybox--large graybox--dark">col 2</div>
                    <div class="grid__col--4 graybox graybox--large graybox--dark">col 3</div>
                </div>
            </div>

            <div class="copyright graybox graybox--very-dark graybox--small">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__col--12">copyright line</div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.off-canvas__content -->

    <script src="js/app.min.js"></script>
</body>

</html>