@mixin baseline-grid-bg ($rgb: 204 40 130) {
  $line-height: strip-unit($base-line-height);
  background-image: url(http://basehold.it/i/#{$line-height}/#{nth($rgb, 1)}/#{nth($rgb, 2)}/#{nth($rgb, 3)}); // with RGB colour
  background-repeat: repeat;
}

@mixin link-colors($foreground: false, $background: false) {

  @if $foreground and $background {
    background-color: unquote(nth($background, 1));
    color: unquote(nth($foreground, 1));

    &:hover,
    &:focus {
      background-color: unquote(nth($background, 2));
      color: unquote(nth($foreground, 2));
    }

    &:active {
      background-color: unquote(nth($background, 3));
      color: unquote(nth($foreground, 3));
    }
  }

  @if $foreground and not $background {
    color: unquote(nth($foreground, 1));

    &:hover,
    &:focus {
      color: unquote(nth($foreground, 2));
    }

    &:active {
      color: unquote(nth($foreground, 3));
    }
  }

  @if $background and not $foreground {
    background-color: unquote(nth($background, 1));

    &:hover,
    &:focus {
      background-color: unquote(nth($background, 2));
    }

    &:active {
      background-color: unquote(nth($background, 3));
    }
  }

}

@mixin font-size($to, $from: $base-font-size, $lines: 1) {
  font-size: em($to, $from);
  line-height: line-height($lines, $to);
}

@mixin box-arrow($side: top, $color: $blue, $width: $base-font-size) {
  position: relative;
  padding: vertical-rhythm(.5) 1em;
  margin-bottom: vertical-rhythm();

  &:after {
    border: $width solid transparent;
    content: '';
    display: block;
    position: absolute;
    @if $side == top or $side == bottom {
      left: 50%;
      margin-left: -$width;
    } @else if $side == top-left or $side == bottom-left {
      left: $width;
    } @else if $side == top-right or $side == bottom-right {
      right: $width;
    } @else if $side == right or $side == left {
      top: 50%;
      margin-top: -$width;
    }
    @if $side == top or $side == top-left or $side == top-right {
      border-bottom-color: $color;
      top: -$width * 2;
    } @else if $side == bottom or $side == bottom-left or $side == bottom-right {
      bottom: -$width * 2;
      border-top-color: $color;
    } @else if $side == left {
      border-right-color: $color;
      left: -$width * 2;
    } @else if $side == right {
      border-left-color: $color;
      right: -$width * 2;
    }
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
