// LAYOUT
%clearfix {
  &:before,
  &:after {
    content: ' ' !important;
    display: table !important;
  }

  &:after {
    clear: both !important;
  }
}

%inline {
  display: inline-block;
  width: auto;
}

// LISTS
%unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// LINKS
%block-link {
  display: block;
  text-decoration: none;
}

// VISIBILITY

// Hide only visually, but have it available for screenreaders: h5bp.com/v
%visuallyhidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

// Hide from both screenreaders and browsers: h5bp.com/u
%hidden {
  display: none !important;
  visibility: hidden !important;
}

%hide-from-small-device {
  @media screen and (max-width: $small-screen-max) {
    display: none !important;
    visibility: hidden !important;
  }
}

%show-on-small-device {
  @media screen and (min-width: $small-screen-min) {
    display: none !important;
    visibility: hidden !important;
  }
}
