@import 'functions';

// FONTS
$font-dir:  '/fonts';
$font-primary: "HelveticaNeue", "Helvetica", Arial, sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;
$double-quotes: '\201C' '\201D';

// ICON FONTS
$font-icon-primary: "entypo", sans-serif;
$font-icon-secondary: "entypo-social", sans-serif;

// SIZES
// http://modularscale.com/scale/?px1=320&px2=14&ra1=1.618&ra2=0
$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: strip-unit($base-line-height / $base-font-size);

$h1-font-size: 36.651px;
$h2-font-size: 28.857px;
$h3-font-size: 22.652px;
$h4-font-size: 17.835px;
$h5-font-size: 14px;
$h6-font-size: 11.023px;

$small-font-size: 11.023px;
$large-font-size: 17.835px;

$font-icon-size: $h3-font-size;

$indent-size: 36.651px;

// COLORS
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$fuchsia: #f012be;
$purple: #b10dc9;
$white: #fff;
$light-gray: #ccc;
$gray: #999;
$dark-gray: #666;
$black: #222;

// LAYOUT
$site-width: em(1140px, 16px);

// GRID
$mobile-columns: 4;
$mobile-gutter: 10px;

$desktop-columns: 12;
$desktop-gutter: 17.835px;

// COLUMNS
$column-gap: 22.652px;

// BORDER RADIUS
$radius: 4px;

// BREAK POINTS
$small-screen: em(768px, 16px);
