@import 'settings',
'mixins',
'placeholders',
'base',
'modules/grid';


/*
# Grid

Styleguide 2
*/

/*
# Grid Mixin

This mixin defines the max width of the page and is used in context with setting column widths within the layout.

Usage:
<pre>.grid {
  @include grid( $site-width );
}</pre>

Markup: <div class="grid">.grid</div>

Styleguide 2.0.1
*/
.grid {
  @include grid( $site-width );
}


/*
# Grid Row Mixin

This mixin defines rows within the layout. Its used to clear column floats.

Usage:
<pre>.grid__row {
  @include grid__row();
}</pre>

Markup: <div class="grid">
  <div class="grid__row">.grid__row</div>
</div>

Styleguide 2.0.2
*/

.grid__row {
  @include grid__row();
}

/*
# Grid Column Placeholder and Mixin

This mixin defines columns within a row. The placeholder is used to group common styles for all columns.

Usage:
<pre>.grid__col-1 {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
}
.grid__col-2 {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="grid__col-1">
      .grid__col-1
    </div>
    <div class="grid__col-2">
      .grid__col-2
    </div>
  </div>
</div>

Styleguide 2.0.3
*/

.grid__col-1 {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
}

.grid__col-2 {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
}


/*
# Grid Column Push & Pulls

This mixin defines column positioning commonly used for source ordering content.

Usage:
<pre>.primary {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--push( $span: 3, $columns: $mobile-columns );
}
.secondary {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--pull( $span: 1, $columns: $mobile-columns );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="primary">
      .primary
    </div>
    <div class="secondary">
      .secondary
    </div>
  </div>
</div>

Styleguide 2.0.4
*/

.primary {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--push( $span: 3, $columns: $mobile-columns );
}
.secondary {
  @extend %grid__col;
  @include grid__col( $span: 3, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--pull( $span: 1, $columns: $mobile-columns );
}



/*
# Grid Column Offsets

This mixin defines column offsets using left and right margins.

Usage:
<pre>.offset-right {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--offset-right( $span: 1, $columns: $mobile-columns );
}
.offset-left {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--offset-left( $span: 1, $columns: $mobile-columns );
}</pre>

Markup: <div class="grid">
  <div class="grid__row">
    <div class="offset-left">
      .offset-left
    </div>
    <div class="offset-right">
      .offset-right
    </div>
  </div>
</div>

Styleguide 2.0.5
*/

.offset-right {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: right, $gutter-size: $mobile-gutter );
  @include grid__col--offset-right( $span: 1, $columns: $mobile-columns );
}
.offset-left {
  @extend %grid__col;
  @include grid__col( $span: 1, $columns: $mobile-columns, $gutter: left, $gutter-size: $mobile-gutter );
  @include grid__col--offset-left( $span: 1, $columns: $mobile-columns );
}