.button-dropdown {
  @include box-sizing(border-box);
  position: relative;
  display: inline-block;
  .button-dropdown__content {
    position: absolute;
    left:-9999px;
    z-index: 999;
    min-width: 300%;
    a {
      display: block;
    }

    &:target,
    &.is-active {
      left:0;
    }
  }

  button {
    &:focus {
      &+.button-dropdown__content {
        left:0;
      }
    }
  }
}