.grid,
.grid__row,
.grid__col {
  @include box-sizing(border-box);
}

.grid {
  max-width: $site-width;
  margin: 0 auto;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
  @media ( max-width: $small-screen ) {
    width: 90%;
  }

  .grid__row {
    margin-left: - $grid-gutter;
    margin-right: - $grid-gutter;
    @extend .clearfix;
  }

  .grid__col {
    float: left;
    position: relative;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    @media ( max-width: $small-screen ) {
      float:none;
      padding-left: 0;
      padding-right: 0;
      &>.grid__row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &.grid--container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    @media ( max-width: $small-screen ) {
      width: 100%;
      &>.grid__row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @for $i from 1 through $grid-columns {
    .grid__col--#{$i} {
      width: ( 100% / $grid-columns ) * $i;
      @if $i == $grid-columns {
        float: none;
      }
      @extend %grid__col--small-screen-width;
    }
    .grid__col--push-#{$i} {
      left: ( 100% / $grid-columns ) * $i;
      @extend %grid__col--small-screen-left;
    }
    .grid__col--pull-#{$i} {
      right: ( 100% / $grid-columns ) * $i;
      @extend %grid__col--small-screen-right;
    }
    .grid__col--offset-#{$i} {
      margin-left: ( 100% / $grid-columns ) * $i;
      @extend %grid__col--small-screen-margin-left;
    }

    .grid__col--inset-#{$i} {
      margin-right: ( 100% / $grid-columns ) * $i;
      @extend %grid__col--small-screen-margin-right;
    }
  }

}

%grid__col--small-screen-width {
  @media ( max-width: $small-screen ) {
    width: 100%;
  }
}

%grid__col--small-screen-left {
  @media ( max-width: $small-screen ) {
    left: 0;
  }
}

%grid__col--small-screen-right {
  @media ( max-width: $small-screen ) {
    right: 0;
  }
}

%grid__col--small-screen-margin-left {
  @media ( max-width: $small-screen ) {
    margin-left: 0;
  }
}

%grid__col--small-screen-margin-right {
  @media ( max-width: $small-screen ) {
    margin-right: $grid-gutter;
  }
}