.grid-blocks,
.grid-blocks .grid-blocks__block {
  @include box-sizing('border-box');
}

.grid-blocks {
  margin-left: - $grid-gutter;
  margin-right: - $grid-gutter;

  .grid-blocks__block {
    display: inline-block;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
    margin-right: -4px; // fix white space
    margin-bottom:vertical-rhythm();
    vertical-align: top;
    &>:last-child {
      margin-bottom: 0;
    }
  }

}

@mixin grid-block-widths( $parent-container-width: $site-width, $grid-columns: $grid-columns ) {
  @for $i from 1 through $grid-columns {
    .grid-blocks--#{$i}-up {
      .grid-blocks__block {
        width: $parent-container-width * ( 1 / $i );
        @extend %grid-blocks--small-screen-width;
      }
    }
  }

  %grid-blocks--small-screen-width {
    @media ( max-width: $small-screen ) {
      width: 100%;
    }
  }
}

.grid-blocks--unstyled-list {
  @extend %unstyled-lists;
}