.input-group {
    display: table;
    margin-bottom: vertical-rhythm();
}

.input-group__addon,
.input-group__input {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}


.input-group__addon {
    width: 1%;
    padding: 0 0.5em;
    background: $light-gray;
    & > * {
        width: 100%;
    }
}

.input-group__addon--button {
    padding: 0;
    background:transparent;
    button {
        position: relative;
        z-index: 2;
        line-height: vertical-rhythm($lines: 0.9, $unitless: true );
    }

    .input-group--large & {
        button {
            line-height: vertical-rhythm($lines: 1.35, $unitless: true );
        }
    }

    .input-group--huge & {
        button {
            line-height: vertical-rhythm($lines: 1.85, $unitless: true );
        }
    }
}

.input-group__input {
    width: 100%;
    &>* {
        width: inherit;
        line-height:vertical-rhythm( $unitless: true );

        .input-group--large & {
            line-height:vertical-rhythm($lines: 1.5, $unitless: true );
        }

        .input-group--huge & {
            line-height:vertical-rhythm($lines: 2, $unitless: true );
        }
    }
}