.media {
  margin-bottom: vertical-rhythm();
  overflow: auto;

  .media__element {
    float: left;
    margin-right: 1em;
    &.media__element--right {
      float:right;
      margin-left: 1em;
    }
  }

  .media__content {
    & > :last-child {
      margin-bottom: 0; // IE 8 will ignore this
    }
  }

  @media ( max-width: $small-screen ) {
    
    .media__element,
    .media__element.media__element--right {
      float: none;
      margin: 0 0 vertical-rhythm() 0;
    }

  }

}